<div class="py-5 text-center">
    <p class="lead" _msthash="670189" _msttexthash="30760041">Conecte-se com a nossa melhor ferramenta de organização de tarefas para a sua equipe de desenvolvedor!</p>
</div>
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-title text-center display-5">LOGIN</h1>
            <div class="card-text">
                <form>
                    <div class="form-group">
                        <label for="exempleInputEmail1">E-mail</label>
                        <input 
                            type="email"
                            class="form-control from-control-sm"
                            id="exempleInputEmail"
                        />
                    </div>

                    <div class="form-group">
                        <label for="exempleInputPassword1">Senha</label>
                        <a href="#" style="float: right; font-size: 12px;">
                        Esqueçeu a senha?</a>
                        <input 
                            type="password"
                            class="form-control from-control-sm"
                            id="exempleInputPassword1"
                        />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block"><a class="btn-link" [routerLink]="['/home']">Entrar</a>
                        
                    </button>

                    <div class="signup">Don't have an account? <a href="#">Create One</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
