<div class="container">
    <main class="py-3 my-4">
      <h3>Cadastrar Tarefas</h3>
      <hr/>
  
    </main>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Responsável</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputText4" class="form-label">Descrição</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-12">
        <label  for="inputEmail4" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
   
  </div>